.containerPetCard {
  background-size: 11%;
  background-repeat: repeat;
  background-color: var(--COLOR_SEC_LIGHT);
  width: 23rem;
  /*border-width: 10em;*/
  /*border-color: #ff0049;*/
  border-radius: 5%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#containerPetCardBGbird {
  background-image: url('../../assets/images/birdIconBG.png');
}

#containerPetCardBGcat {
  background-image: url('../../assets/images/catIconBG.png');
}

#containerPetCardBGdog {
  background-image: url('../../assets/images/dogIconBG.png');
}

#containerPetCardBGfish {
  background-image: url('../../assets/images/fishIconBG.png');
}

.imgContainerPetCard {
  position: relative;
  right: 0;
  bottom: 0;
  margin: 4%;
}

.imgPetCard {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  border-radius: 50%;
}

.imgPetCard:hover {
  box-shadow: 0 0 0 0.4vh var(--COLOR_SEC_DARK);
  transform: scale(1.01);
}

.namePetCard {
  margin: 2%;
  padding: 0;
}

.latemotivPetCard {
  font-style: italic;
  font-weight: normal;
  margin: 0 0 7% 0;
  padding: 0;
}