@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text');

* {
  font-family: 'Red Hat Text';
  color: var(--COLOR_MAIN_TWO);
  --COLOR_MAIN_ONE: #ff0049;
  --COLOR_MAIN_TWO: #363232;
  --COLOR_MAIN_THREE: #ffffff;
  --COLOR_SEC_DARK: #ffb3c9;
  --COLOR_SEC_LIGHT: #fff2f5;
  --COLOR_SEC_GREY: #43484d
}

.App {
  text-align: center;
  height: 100vh - 5.6rem;
  width: 100vw;
  min-height: 655px;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}