.home {
  height: 100%;
}

.labelFilterBtnsHome {
  font-size: 2.2vh;
  margin: 0 2%;
  font-style: italic;
  font-weight: bold;
  color: var(--COLOR_MAIN_TWO)
}

.containerFilterBtnsHome {
  height: 6.9vh;
  margin: 0 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.petsContainerHome {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}