.filterBtn {
  height: 3rem;
  width: 3rem;
  margin: 0.59rem 0.88rem;
  border: solid 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterBtn:hover {
  box-shadow: 0 0 0 0.4vh var(--COLOR_SEC_DARK);
}

.filterBtn:focus {
  outline: none
}

.filterBtn-on {
  color: var(--COLOR_MAIN_THREE);
  background-color: var(--COLOR_MAIN_ONE);
}

.filterBtn-off {
  color: var(--COLOR_MAIN_ONE);
  background-color: var(--COLOR_MAIN_THREE);
}

.imgFilterBtn {
  height: 2.65rem;
  width: 2.65rem;
  margin: 0
}