.filterBtn {
  height: 5.1vh;
  width: 5.1vh;
  margin: 1vh;
  border: solid 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterBtn:hover {
  box-shadow: 0 0 0 0.4vh #ffb3c9;
}

.filterBtn:focus {
  outline: none
}

.filterBtn-on {
  color: white;
  background-color: #ff0049;
}

.filterBtn-off {
  color: #ff0049;
  background-color: white;
}

.imgFilterBtn {
  height: 4.5vh;
  width: 4.5vh;
  margin: 0
}