.filterBtn {
  height: 5.1vh;
  width: 5.1vh;
  margin: 1vh 1.5vh;
  border: solid 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterBtn:hover {
  box-shadow: 0 0 0 0.4vh var(--COLOR_SEC_DARK);
}

.filterBtn:focus {
  outline: none
}

.filterBtn-on {
  color: var(--COLOR_MAIN_THREE);
  background-color: var(--COLOR_MAIN_ONE);
}

.filterBtn-off {
  color: var(--COLOR_MAIN_ONE);
  background-color: var(--COLOR_MAIN_THREE);
}

.imgFilterBtn {
  height: 4.5vh;
  width: 4.5vh;
  margin: 0
}