.containerLikeBtn {
  height: 5%;
  width: 5%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelLikeBtn {
  color: var(--COLOR_MAIN_ONE);
  width: 2rem;
  font-size: 1.3rem;
  font-weight: bolder;
}

.imgLikeBtn {
  height: 1.5rem;
  margin: 0.6rem
}

.imgLikeBtn:hover {
  height: 1.7rem;
  margin: 0.5rem
}